
a{
    text-decoration: none;
    margin: 50px;
    font-size: 50px;
   
}
.navbar{
 border: 1px solid orange;
 background-color: orange;
}
.content{

    position: sticky;
    top: 10px;
   /* position: fixed;
    top: 20px;*/
}